h1 {
    color: purple;
    font-family: Lobster;
    font-size: 110px;
    margin-bottom:  0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    position: fixed;
}

li {
    float: right;
    display: inline;
    font-family: "Paytone One";
    font-size: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 10vh;
    line-height: 10vh;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;

}
li a:hover {
    background-color: #92efa4;
}
h2 {
    font-size: 50px;
    font-family: Sanchez;
}
button {
    font-size: 20px;
    font-family: sanchez;
    font-weight: bold;
    background-color: white;
    padding: 0.5em 0.5em;
    width: 15%;
    border-radius: 0.5em;
}
form{
    font-size:35px;
    font-family: "Francois One";
}
#display {
    font-size: 30px;
}
body {
    background-color: #a9ddd6;
}
h1 {
    font-family: "Francois One";
    font-size: 100px;
    background-image: url("https://lh3.googleusercontent.com/8KeUnQzjsYCCekTT2cAxySqQT0OgZbGdPT9pNcti_DwUuAbkBQqD12zDYoCmbhdmFi-VgWt2URg4ovrUjPlZFWNC7HiJyexFWmUYQ8ozaZapZ_XZvol8uJglGYEXrU88Zbx06QRjEcuLXzzwau2p17p-pj8nVfzEO5CwtBQqsxBhdrv2VvBhT0A1YFUQ8UuWNucuAsUeYrjsXdEnzdd6CP-GojoJGpfEfnsPkx6w_2pqrwIbNNyhrxMht1MK-RV63qpCO9CISOvjnhBYN3DSosngkCJI3q59S1e3rSuUkkTR3J3cOZaIktQiGZgvrIv8bokQzj1tu_iOxn6A6QWMlzA438P2NvwAkFqBY_T2sXky-R12GAaqUbl_7dcNitVrzg76iN_8NaKizb84HahT-m0_F50jsmJx8rwyNZtY05N9dQTYmySbmE7J8pWzUeMRsR50iCI7MaRmdYjmX-xBhtnA7Y1pT7f9GyX1ha5JThMQ8HjMBznus_izpF7GqfT6mURr0i7Eji-3EdocSSabLm4RQv8hagcdyi-NQiqkd1IDCBHUULo2ejpTOrtOsXxLLHTwoRddg0w4F91Ey3XWU59Bs_d4HHFKBXV46ZDjblXjaK0STi8saQWytaJNYoCT-Sea5n24CCFx-Hf3w0xSZmKh9jxzVIFMfA=w2880-h1384-no");
    background-attachment: fixed;
    color: white;
    text-shadow: 0.05em 0.05em black;
    width: 100%;
    height: 80vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 80vh;
    animation: zoom 3s ease;
}
h3 {
    font-size: 2em;
    font-family: Sanchez;
    padding-left: 2em;
    padding-right: 2em;
}
h4{
    font-family: Sanchez;
    font-size: 1em;
}
iframe{
    display: none;
}
@keyframes zoom{
    0% {font-size: 1px}
    100% {font-size: 100px}
}
@keyframes zoomImg{
    0% {width:0%}
    100%{width: 7%}
}
@keyframes zoomImg1{
    0% {width:20%}
    100%{width: 20%}
}
@keyframes nothing{
    from{display: none}
    to{display: none}
}
h1 img{
    animation: zoomImg 3s ease;
    width: 7%;
}
.imgFrame{
    animation:zoomImg1 4s ease;
    width: 20%;
    margin-top: 1em;
}
.work{
    width: 30%;
    display: none;
}